{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <link rel="stylesheet" href="{% static 'indcss.css' %}">
</head>
<body>

<div class="navbar">
    <div class="dropdown">
        <div class="dropbtn">Menu
            <div class="dropcontent">
                <a href=""> one </a>
                <a href=""> two </a>
                <a href="">three </a>
                <a href=""> four </a>
            </div>
        </div>



    </div>
</div>




<h1>Welcome brother</h1>
<form method="POST" > {% csrf_token %}
   {{form.as_p}}
    <input type="submit" value="submit">
</form>


</body>
</html>